body {

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dHJhdmVsJTIwYWVzdGhldGljfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");

    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    ;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

.cover-container {
    max-width: 80vw;

}

.content h1 {
    font-size: 50px;
    font-weight: 400;
}

.content .lead {
    color: #ffffff;

}

.nav-brand {
    color: #000000;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 2rem;
    border-bottom: 0.15rem solid transparent;

}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;

}


.nav-link.active {
    color: bisque;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}


.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.checkbtn {
    font-size: 30px;
    color: rgb(255, 255, 255, 0.5);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: -10px;
    display: none;
}

.myCheckBox {
    display: none;
}

.view {
    align-items: center;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    outline: 0;
    border: 0;
    padding: 1rem;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;

}

.view:before {
    background-color: #000000;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25, .8, .25, 1);
    width: 0;
}

.view:hover:before {
    background-color: #ffffff;
    width: 3rem;
}

.view:hover {
    color: rgba(0, 0, 0, 0.652);
    text-shadow: none;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}